/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------------------------- */


body {
    width:780px;
    margin:0 auto;
    font-family:"Lucida Grande","Lucida Sans Unicode",verdana,geneva,sans-serif;
    background:url(/i/square_bg.png) repeat;
}

a:link, a:visited, a:hover, a:active {
    color:#b30808;
}

#header {
    font-size:1.2em;
    padding-top:30px;
    border-bottom: 3px solid #b30808;
}
#header h1 {
    margin:5px 0;
    padding-bottom:0;
    text-align:right;
}
#header p {
    margin-top:0;
    font-size:0.8em;
    text-align:right;
    font-style:italic;
    color:#666;
}

#content {
    width:475px;
    padding-right:5px;
    float:left;
}
#content h2 {
    font-size:1.4em;
    color:#111;
    margin:30px 0 20px 0;
    clear:both;
}
#content h3 {
    font-size:1.1em;
    margin:20px 0 5px 0;
    color:#222;
}
#content img {
    float:left;
    margin:6px 10px 0 0;
    border:1px solid #222;
}
#content p {
    font-size:0.9em;
    color:#333;
    line-height:1.8em;
}

#sidecol {
    width:285px;
    margin-top:3px;
    padding-left:15px;
    line-height:1.8em;
    float:right;
}
#sidecol h3 {
    font-size:1em;
    margin:30px 0 10px 0;
}
#sidecol p {
    font-size:0.9em;
    margin:3px 0;
}

#footer {
    width:780px;
    padding:40px 0 20px 0;
    clear:both;
    text-align:center;
    font-size:0.8em;
    color:#666;
}
