/* http://meyerweb.com/eric/tools/css/reset/
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------------------------- */


body {
    width:90%;
    margin:0 auto;
    font-family:"Lucida Grande","Lucida Sans Unicode",verdana,geneva,sans-serif;
    background:url(/i/square_bg.png) repeat;
    line-height:1.8em;
    color:#333;
}
h2 {
    font-size:1.5em;
    color:#111;
    margin:1em 0 0.7em 0;
    clear:left;
}
h3 {
    font-size:1.1em;
    margin:1.2em 0 0.8em;
}

a:link, a:visited, a:hover, a:active {
    color:#b30808;
}

#header {
    padding-top:1.5em;
    border-bottom:3px solid #b30808;
}
#header h1 {
    font-size:2em;
    text-align:right;
}
#header p {
    margin:0.5em 0;
    text-align:right;
    font-style:italic;
    color:#666;
}

#content {
    width:69.2307692%;
    float:left;
}
#content img {
    float:left;
    width:27.7777778%;
    margin:1.5% 2% 1% 0;
    border:1px solid #222;
}

#sidecol {
    width:28.2051282%;
    float:right;
    padding-top:3em;
}

#footer {
    width:90%;
    padding:2em 0 1em;
    clear:both;
    text-align:center;
    font-size:0.8em;
    color:#666;
}


@media screen and (min-width: 1100px) {
    body, #footer {
        width:990px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size:80%;
    }
}

@media screen and (max-width: 400px) {
    body {
        text-align:justify;
    }
    #content {
        width:100%;
        float:none;
    }
    #sidecol {
        width:100%;
        float:none;
        margin-top:1em;
        padding-top:1em;
        border-top:3px solid #b30808;
    }
}
