<!DOCTYPE html>
<html>
    <head>
        <title>Calum Halcrow</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div id="header">
            <h1>Calum Halcrow</h1>
            <p>web programmer based in KL MY.</p>
        </div>
        <div id="content">
            <h2>Bio</h2>
            <img src="/i/bio.jpg" alt="Calum Halcrow" title="That's me and my wife folks." width="120" height="110"/>
            <p>I was born and brought up in <a href="http://shetland.org">Shetland</a>, Scotland. After finishing school I went to study Mathematics at the <a href="http://www.ed.ac.uk">University of Edinburgh</a>. After graduating I felt a change of direction was necessary and so <a href="http://nbcommunication.com">moved into web development</a> and programming. I met my now wife during university and we decided to settle down in <a href="http://en.wikipedia.org/wiki/Malaysia">Malaysia</a> where she's from. We currently live in the country's capital, Kuala Lumpur, and I currently work as a Perl programmer in Cyberjaya, a tech hub located just outside the city.</p>
            <h2>Skills</h2>
            <h3>Programming Languages</h3>
            <p>Aside from the Pascal I did at school and the small amount of C I did at uni, I cut my teeth as a web developer on PHP. I moved from there onto Perl and have been hacking away with it for the good part of the last six years. With that exposure comes knowledge of the Perl world at large: Moose, Catalyst, RoseDB, DBIx, Test::* and many more CPAN modules. I've always liked Python and have a little experience with it. I intend to change that 'a little' in the previous sentence to 'a lot of' in the coming months...</p>
            <h3>Web Development</h3>
            <p>I feel the essence of my work is to create websites with semantic and standards compliant HTML, clean CSS and unobtrusive JavaScript. I can't help but be a perfectionist in this and often go the extra mile to ensure things are done "right". JQuery is such a handy tool for creating rich interactive web apps; I use it whenever I can. I also have some experience with <acronym title="Content Management System">CMS</acronym>s like MODx, and with templating engines like Template Toolkit and Django templates. I like <acronym title="Google App Engine">GAE</acronym> as a platform for developing and hosting apps; this site is hosted on it in fact!</p>
            <h3>Databases</h3>
            <p>My current job sees me working with a fairly large PostGreSQL system. I have used MySQL for many personal projects throughout my years as a web developer, and at times have found SQLite useful also.</p>
            <h3>Tools and Environment</h3>
            <p>I like to use simple and lightweight yet powerful development tools. The OS I use is Ubuntu Linux. I do almost everything on a Bash shell, use Vim (what else?) for writing code and Git for source control.</p>
            <h3>Agile</h3>
            <p>I have experience establishing Scrum and other "Agile" practices (amongst other things Kanban, <acronym title="Test Driven Development">TDD</acronym> and Pair Programming) into corporate environments.</p>
            <p>If you'd like more specific details of my capabilities get in touch via one of the methods in the side column and I'll send you my CV.</p>
        </div>
        <div id="sidecol">
            <h3>Projects</h3>
            <p><a href="http://kudosenglishlearning.com">KudosEnglishLearning</a>,
            <a href="http://tuitionbyemi.com">TuitionByEmi</a>,
            <a href="http://cunningsburghheritage.com">CunningsburghHeritage</a>,
            <a href="https://github.com/calumhalcrow/codejam">CodeJam</a>.</p>
            <h3>Connect</h3>
            <p><a href="http://profiles.google.com/calumhalcrow">Google+</a>,
            <a href="http://facebook.com/calumhalcrow">Facebook</a>,
            <a href="http://twitter.com/calumhalcrow">Twitter</a>,
            <a href="http://my.linkedin.com/in/calumhalcrow">LinkedIn</a>,
            <a href="https://github.com/calumhalcrow">GitHub</a>.</p>
            <h3>Reading</h3>
            <p>Currently:<br><a href="http://oreilly.com/catalog/9780596517748">JavaScript: The Good Parts</a>.</p>
            <p>Just finished:<br><a href="http://www.manning.com/bibeault">JQuery In Action</a>, <a href="http://progit.org/book">Pro Git</a>.</p>
            <p>Up next..?<br><a href="http://diveintopython.org">Dive Into Python</a>.</p>
        </div>

        <div id="footer"><p>&copy; 2011 Calum Halcrow</p></div>
    </body>
</html>
